<div class="page main" ng-controller="MainCtrl">
  <div class="panel panel-default">
    <div class="panel-heading">¿Como va mi Auto?</div>
    <div class="panel-body">
        <p> Verifica el estatus de tu auto y mira las fotos del proceso! </p>
        <form name="work-order-status" ng-submit="getOrderData(key)">
          <div class="input-group">
            <input type="text" name="key" ng-model="key" required class="form-control" placeholder="Introduce tu llave.">
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit">arranca!</button>
            </span>
          </div>
        </form>
    </div>
  </div>


</div>
